<!-- /Content -->
<!-- Footer -->
<footer>
    <section class="copyright">
        <p class="container">
            ۱۳۸۴-<%= jdate(new Date(), 'YYYY') %><br />
            مطالب تحت لیسانس <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" rel="license" target="_blank">کریتیو کامنز</a> منتشر می‌شوند.
        </p>
    </section>
</footer>
<!-- /Footer -->

<% if (config.disqus_shortname){ %>
<script>
    var disqus_shortname = '<%= config.disqus_shortname %>';
    (function(){
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/<% if (page.comments) { %>embed.js<% } else { %>count.js<% } %>';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<% } %>

<!-- Scripts -->
<%- js(['js/share-button.js', 'js/prettify/prettify.js', 'js/run.js']) %>
<!-- /Scripts -->
