<!-- Header -->
<header>
    <nav class="container">
        <ul>
            <li><a href="/">صفحه اول</a></li>
            <li><a href="/farsi">بلاگ</a></li>
            <li><a href="/farsi/contact">تماس</a></li>
            <li class="logo"><a href="/">- سالار‌کابلی -</a></li>
            <li><a href="https://fi.linkedin.com/in/sallarkaboli" target="_blank">لینکدین</a></li>
            <li><a href="https://github.com/sallar" target="_blank">گیتهاب</a></li>
            <li><a href="https://twitter.com/sallar" target="_blank">توییتر</a></li>
        </ul>
    </nav>
</header>
<!-- /Header -->