<!-- Intro -->
<section id="intro">
    <p class="container">
        من <strong>سالار کابلی</strong> هستم،<br />
        توسعه‌دهنده نرم‌افزار وب و طراح رابط کاربری.
    </p>
</section>
<!-- /Intro -->